$ucritic-yellow: #E8AA00;
$main-dark: #33363b;
$light-gray: #33363b;
$dark-gray: #131417;
$twitter-dark: #1da1f2;
$facebook-dark: #3b5998;
$linkedin-dark: #1c87bc;
$ham-menu-dark: #070f20;
$silver: rgba(153,153,153,0.4);
$trans1: rgba(0,0,0,1.0);
$trans2: rgba(0,0,0,0.2);
$trans3: rgba(0,0,0,0.08);

$inspiring: #bf9000;
$re-watchability: #741b47;
$scary: #351c75;
$thinker: #134f5c;
$comedic: #38761d;
$romantic: #85200c;
$gory: #b45f06;
$intense: #1155cc;
